header{
    border: 1;
    border-style:solid;
}
.nombrePagina{
    text-align: center;
    color: aqua;
}
.menu-navegacion{
    text-decoration: none;
    color: aqua;
    display: flex;
}
.menu-navegacion a {
    color: #ffffff;
    text-decoration: none;
    border: 1;
    border-style:solid; 
    background-color: black;
    
    
}
.logo-menu{
    display: flex;
}
.logoProyecto{
    height: 1cm;
    width: 1cm;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}


/*
@media screen and (max-width:1200px){
    header{
        border: 1;
        border-style: dotted;
    }
}
*/