header{
    border: 1;
    border-style:solid;
}
.nombrePagina{
    text-align: center;
    color: aqua;
}
.menu-navegacion{
    text-decoration: none;
    color: aqua;
    border: 1;
    border-style:solid;
    
}
.contenedorLinksMenu{
    display: flex;
    justify-content: right;
    position: relative;
    justify-content:space-around;
    
}
.contenedorLinksMenu a {
    color: #ffffff;
    text-decoration: none;
    border: 1;
    border-style:solid; 
    background-color: black;
    
}
/*
@media screen and (max-width:1200px){
    header{
        border: 1;
        border-style: dotted;
    }
}
*/